/*general ------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body,
html {
    min-height: 100%;
}

.container {
    width: 1920px;
    min-height: 100%;
    margin: 0 auto;
}

.header {
    min-height: 1024px;
    background-image: url(../img/bg_photo_header.png);
}


/*header ---------------------------------------------*/

.header-wrp-logo-list {
    display: flex;
    justify-content: space-between;
    padding: 40px 375px 0;
}

.header-logo-namesite {
    display: flex;
    align-items: center;
    /float: left;
}

.header-logo {
    /display: inline-block;
    width: 64px;
    height: 56px;
    background-image: url(../img/logo.png);
    /float: left;
}

.header-name-site {
    /display: inline-block;
    text-decoration: none;
    font-family: Raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.04em;
    color: #ffffff;
    /margin: 10px 0 0 0;
}

.wrp-list-backet-search {
    /float: right;

}

.header-list {
    width: 780px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list-item {
    /display: inline-block;
    /float: left;
    /display: inline-flex;
    /padding: 23px 26px 0 0;
}

.header-list-item-link {
    /display: inline-block;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
}

.header-list-item-link:hover {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #c7b299;
}

.header-basket {
    display: block;
    width: 18px;
    height: 24px;
    background-image: url(../img/backet.png);
    /margin: -5px 0 0 35px;
}

form {
    display: block;
    position: relative;
}

.header-search {
    color: #fff;
    font-size: 15px;
    font-family: Montserrat;
    cursor: pointer;
    width: 24px;
    height: 24px;
    text-indent: 0;
    outline: none;
    border: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    border-bottom: 1px solid transparent;
    position: absolute;
    top: -12px;
    z-index: 2;
}

.header-search:focus {
    cursor: text;
    width: 150px;
    z-index: 1;
    border-bottom: 1px solid #fff;
    margin-left: 25px;
}

.header-search-btn {
    background: transparent;
    border: none;
    height: 24px;
    width: 24px;
    position: absolute;
    top: -12px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
}


/*слайдер -------------------------------------------*/

.header-slider {
    min-height: 261px;
    margin: 335px 150px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-slider-left-button {
    width: 40px;
    height: 73px;
    background-image: url(../img/slider-left.png);
    border: none;
    outline: none;
    background-color: transparent;
    opacity: 0.5;
}

.header-slider-left-button:hover {
    background-image: url(../img/slider-left-hover.png);
}

.header-slider-left-button:active {
    background-image: url(../img/slider-left.png);
}

.header-slider-text-wrp {
    width: 589px;
    min-height: 261px;
    text-align: center;
}

.header-slider-h2 {
    font-family: Raleway;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 10px 0;
}

.header-slider-h1 {
    font-family: Raleway;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
    margin: 0 0 15px 0;
}

.header-slider-p {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.header-slider-link {
    display: block;
    width: 170px;
    background-color: #998675;
    border-radius: 3px;
    text-decoration: none;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px;
    margin: 30px 0 0 200px;
}

.header-slider-link:hover {
    background-color: #ffffff;
    color: #998675;
}

.header-slider-right-button {
    width: 40px;
    height: 73px;
    background-image: url(../img/slider-right.png);
    border: none;
    outline: none;
    background-color: transparent;
    opacity: 0.5;
}

.header-slider-right-button:hover {
    background-image: url(../img/slider-right-hover.png);
}

.header-slider-right-button:active {
    background-image: url(../img/slider-right.png);
}


/*pagination ------------------------------------------*/

.header-padination-radio-btn {
    display: none;
}

.header-padination-radio-label {
    cursor: pointer;
    position: relative;
    margin: 0 12px;
}

.header-padination-radio-label:before {
    position: absolute;
    content: "";
    display: flex;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #ffffff;
    left: 904px;
    top: 330px;
}

.header-padination-radio-btn:checked + .header-padination-radio-label:before {
    width: 15px;
    height: 15px;
    border: 2.0px solid #d3c1ad;
    background-color: transparent;
    left: 900px;
    top: 326px;
}


/*Блок 2. Ссылки куда-то... -----------------*/

.links-to {
    display: flex;
    align-items: center;
    padding: 80px 377px;
}

.link-to {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.link-to:hover .line {
    background-color: #c7b299;
}

.link-to:hover .link-to-h3 {
    color: #c7b299;
}

.link-to:hover .draw-image-wrp {
    background-image: url(../img/draw-2.png);
}

.link-to:hover .development-image-wrp {
    background-image: url(../img/development-2.png);
}

.link-to:hover .customization-image-wrp {
    background-image: url(../img/customization-2.png);
}

.link-to:hover .marketing-image-wrp {
    background-image: url(../img/marketing-2.png);
}

.draw-image-wrp {
    display: inline-block;
    width: 49px;
    height: 44px;
    background-image: url(../img/draw.png);
    background-repeat: no-repeat;
}

.development-image-wrp {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-image: url(../img/development.png);
    background-repeat: no-repeat;
}

.customization-image-wrp {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-image: url(../img/customization.png);
    background-repeat: no-repeat;
}

.marketing-image-wrp {
    display: inline-block;
    width: 52px;
    height: 44px;
    background-image: url(../img/marketing.png);
    background-repeat: no-repeat;
}

.link-to-h3 {
    font-family: Raleway;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin: 29px 0 19px;
}

.link-to-p {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}

.line {
    display: inline-block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin-top: 30px;
}


/*блок 3. Продукт -----------------------*/

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 83px 345px 0;
    background-color: #fbfaf8;
}

.product-h2 {
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.product-p {
    display: block;
    width: 770px;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 24px 0 40px;
}

.product-img {
    display: block;
    /width: 770px;
    /height: 400px;
    /background-image: url(../img/product-2.png);
    /background-repeat: no-repeat;
}

/*блок 4. meta ------------------------*/

.product-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 48px 375px;
}
.product-meta-h2 {
    font-family: Raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #c7b299;
    margin: 0 0 8px 0;
}
.product-meta-p {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}
.product-meta-a {
    display: inline-block;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 29px;
    background-color: #998675;
    border-radius: 3.0px;
}

.product-meta-a:hover {
    background-color: #fff;
    color: #998675;
}


































